<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles_create_room.css">
    <title>AnCom - Creating a new Room</title>
</head>
<body>
    <div class="content">
        <div class="label">
            We are creating the room... Wait a second.:)
        </div>
    </div>
    <script src="./js/create_room.js"></script>
</body>
</html>