<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnCom - Guest</title>
    <link rel="stylesheet" href="./css/styles_enter_room.css">
</head>
<body>
    <div class="content">
        <div class="online_users">
            <div class="chat_options">
                <div class="code">
                    <span id="label_code">Code:</span>
                    <span id="code">asd1231</span>
                </div>
                <div class="leave">
                    <button id="leave">Leave Room</button>
                </div>
            </div>
            <!-- The next cards must be removed and added on javascript -->
            <div class="online_user_card">
                <div class="username_online_box">
                    <span id="username_online">joshuamoscosa</span>
                </div>
                <div class="online_user_img">
                    <img src="./img/record.png">
                </div>
            </div>
            <div class="online_user_card">
                <div class="username_online_box">
                    <span id="username_online">pepito</span>
                </div>
                <div class="online_user_img">
                    <img src="./img/record.png">
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="messages_content">
                <div class="message_sent_body">
                    <div class="message_sent_content">
                        <div class="author_sent">
                            <span id="author_sent">joshuamoscosa</span>
                        </div>
                        <div class="message_sent">
                            <span id="message_sent">Holaa</span>
                        </div>
                    </div>
                </div>
                <div class="message_sent_body">
                    <div class="message_sent_content">
                        <div class="author_sent">
                            <span id="author_sent">joshuamoscosa</span>
                        </div>
                        <div class="message_sent">
                            <span id="message_sent">¿Qué tal?</span>
                        </div>
                    </div>
                </div>
                <div class="message_received_body">
                    <div class="message_received_content">
                        <div class="author_received">
                            <span id="author_received">pepito</span>
                        </div>
                        <div class="message_received">
                            <span id="message_received">Callate Imbecil</span>
                        </div>
                    </div>
                </div>
                <div class="message_received_body">
                    <div class="message_received_content">
                        <div class="author_received">
                            <span id="author_received">pepito</span>
                        </div>
                        <div class="message_received">
                            <span id="message_received">Puta</span>
                        </div>
                    </div>
                </div>
                <div class="message_received_body">
                    <div class="message_received_content">
                        <div class="author_received">
                            <span id="author_received">pepito</span>
                        </div>
                        <div class="message_received">
                            <span id="message_received">Puta</span>
                        </div>
                    </div>
                </div>
                <div class="message_received_body">
                    <div class="message_received_content">
                        <div class="author_received">
                            <span id="author_received">pepito</span>
                        </div>
                        <div class="message_received">
                            <span id="message_received">Puta</span>
                        </div>
                    </div>
                </div>
                <div class="message_received_body">
                    <div class="message_received_content">
                        <div class="author_received">
                            <span id="author_received">pepito</span>
                        </div>
                        <div class="message_received">
                            <span id="message_received">Puta</span>
                        </div>
                    </div>
                </div>
                <div class="message_received_body">
                    <div class="message_received_content">
                        <div class="author_received">
                            <span id="author_received">pepito</span>
                        </div>
                        <div class="message_received">
                            <span id="message_received">Puta</span>
                        </div>
                    </div>
                </div>
            </div>
            <form class="chat_functions">
                <div class="input_form_message">
                    <input type="text" placeholder="Aa" autocomplete="off" autofocus>
                </div>
                <div class="img_form_message">
                    <button id="send_message">
                        <img src="./img/send.png" alt="send" title="send">
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>