<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnCom - Guest</title>
    <link rel="stylesheet" href="./css/styles_enter_room.css">
</head>
<body>
    <div class="content">
        <div class="online_users">
            <div class="chat_options">
                <div class="code">
                    <span id="label_code">Code:</span>
                    <span id="code"></span>
                </div>
                <div class="leave">
                    <button id="leave">Leave Room</button>
                </div>
            </div>
            <div id="online_users_cards"></div>
        </div>
        <div class="chat">
            <div class="messages_content">
            </div>
            <form class="chat_functions">
                <div class="input_form_message">
                    <input type="text" placeholder="Aa" autocomplete="off" autofocus id="input_message">
                </div>
                <div class="img_form_message">
                    <button id="send_message">
                        <img src="./img/send.png" alt="send" title="send">
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script src="./js/enter_room.js"></script>
</body>
</html>